nav {
    background-color: #808DE8;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center; 
    z-index: 110;
    justify-content: space-between;
}
.container-fluid{
    display: flex;
    align-items: center; 
    gap: 20px;
}
.barra{
    width: 300px !important;
}
.btn-primary{
    background-color: transparent !important;
    border-color: transparent !important;
}
.btn-outline-success{
    border-color: #FFFFFF !important;
}
.d-flex{
    margin-left: 100px;
}
.content {
    list-style-type: none;
    margin: 0 !important;
    padding: 0;
    display: flex;
    align-items: center !important;
    gap: 3%;
}

.links {
    color: white !important;
    text-decoration: none !important;
}
.navbar-toggler {
    margin-left: 400px;
}
a:hover {
    color: #06048C; 
}

.btn{
    color: #FFFFFF !important;
    white-space: nowrap;
}
.btn:hover{
    background-color: #06048C !important;
}
.avatar{
    width: 35px;
    height: auto;
    left: 4%;
    position: relative;
}

@media screen and (max-width: 768px) {
    .cabecalho__container {
        padding: 10px;
        height: 10%;
    }
    .logo{
        height: 90%;
    }
    .ul{
        font-size: large;
    }
}
.menuImg{
    height: 30px;
}
a{
    text-decoration: none !important;
}

