.profile-page{
    display: flex;
    justify-content: center;
}
.imgPerfil{
    border-radius: 50%;
    width: 400px;

}
.btn{
    margin-top: 10px;
    margin-right: 10px;
}
.form-label{
    margin-top: 10px;
}
.conteudoo{
    align-items: center;
    margin-left: 10%;
}
.titulo{
    margin-top: 6%;
    margin-left: 5%;
}
.excluirPerfil{
    justify-items: flex-end;
}