#bodyCadastro{
    height: 100vh;
    margin: 0;
    background-image: url('../imagens/background.png') !important;
    background-repeat: no-repeat;
    display: flex;
}
.login{
    a{
        text-decoration: none !important;  
        color: #FFFFFF
    };
    background-color: #3153C0 !important;
    border-color: transparent !important;
    
}